body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 100%;
    max-width: 300px;
}

footer {
    font-size: 14px;
}

.TOT{
    background-color: rgba(246, 190, 6, 0.34);
    background-image: url("images/TheOneThings.png");
    background-size: 1px;
}